$green: #32940b;
$orange: #f8750a;
$black: #080908;
$red: rgb(202, 24, 24);
$yellow: #f5de12;
$yellow2: #ecd608;

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
 font-family: 'Quicksand', sans-serif;
 
  font-size: 62.5%;

  @media screen and (min-width: 100em) {
    font-size: 70%;
  }
  @media screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media screen and (max-width: 65.25em) {
    font-size: 52.25%;

    @media screen and (max-width: 56.25em) {
      font-size: 50%;
    }
    @media screen and (max-width: 37.5em) {
      font-size: 40%;
    }
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
 
}

