@import '../../index.css';

.dropdown_menu {
    width: 20rem;
    position: absolute;
    top: 8rem;
    list-style: none;
    text-align: start;
    & li {
        background: $orange;
        cursor: pointer;
        &:hover {
            background: $yellow;
        }
    }
    .dropdown_menu__clicked {
        display: none;
    }
    .dropdown_link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        padding: 1.5rem;
    }
}